
# build directory
BUILD/
RPMS/
SOURCES/
SPECS/


*.pyc

_os
_arch
_distribution

# ignore version.mk
rocks-version.mk
rocks-version-common.mk

# ignore python.mk
python.mk

# ignore Rules files
Rules-install.mk
Rules-linux-centos.mk
Rules-linux.mk
Rules-rcfiles.mk
Rules-scripts.mk
Rules.mk
Rolls.mk

# --- BEGIN --- binaries files
src/condor-demo-ec2/2HTY_A-demo.tar.gz
src/condor-demo-ec2/NCIdiversity.tar.gz
src/htcondor/condor-8.2.1-x86_64_RedHat6-stripped.tar.gz
src/htcondor/condor-8.2.2-x86_64_RedHat6-stripped.tar.gz
src/htcondor/condor-8.2.4-x86_64_RedHat6-stripped.tar.gz

src/usersguide/condor-V8_2_1-Manual.tar.gz
src/usersguide/condor-V8_2_2-Manual.tar.gz
src/usersguide/condor-V8_2_4-Manual.tar.gz
# --- END ---
