<chapter id="requirements" xreflabel="Requirements">


<title>Requirements</title>

<section id="rocks-version" xreflabel="Rocks Version">
<title>Rocks Version</title>

<para>

The Condor Roll is for use with Rocks version @ROCKS_VERSION@ (@ROCKS_VERSION_NAME@).

</para>

</section>


<section id="other-rolls" xreflabel="Other Rolls">
<title>Other Rolls</title>

<para>

The Condor Roll is does not require any other Rolls 
to be installed on the Frontend.  Compatiblity has been verified
with the following Rolls.

</para>

<itemizedlist>

<listitem><para>HPC</para></listitem>
<listitem><para>Patch</para></listitem>

</itemizedlist>


</section>


</chapter>
