[Unit]
Description=HTCondor Services

[Service]
Type=forking
Environment=CONDOR_CONFIG=/opt/condor/etc/condor_config
ExecStartPre=/bin/find /etc/rc.d/rocksconfig.d -name 'post-90-condor-*' -exec {} \; 
ExecStart=/opt/condor/sbin/condor_master
ExecStop=/bin/pkill condor_master

[Install]
WantedBy=multi-user.target
