[Unit]
Description=HTCondor Services

[Service]
Type=forking
ExecStartPre=find /etc/rc.d/rocksconfig.d -name 'post-90-condor-*' -exec {} \; 
ExecStart=/opt/condor/sbin/condor_master

[Install]
WantedBy=multiuser.target
